img.collapseblocks-icon {
  background-image: url(icons/collapseblocks-expanded.png);
  float: right;
}

img.collapseblocks-icon-left {
  float: left;
}
img.collapseblocks-icon.collapseblocks-collapsed {
  background-image: url(icons/collapseblocks-collapsed.png);
}

img.collapseblocks-config {
  vertical-align: middle;
}
img.collapseblocks-block {
  vertical-align: middle;
}

